<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:pages="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}"
      lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <title>Registered FORMS</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <br>
    <h2>Forms</h2>
    <h5 class="total-forms-count"
        th:utext="${'Website: &quot' + site.domainName + '&quot - ' + site.domain  + ', '
                + ' total forms: ' + totalCount}"></h5>
    <div class="container-fluid">
        <div class="col col-md-offset-1">

            <table id="user-forms-table" class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th>Last Submission</th>
                    <th>Total Submissions</th>
                    <th>Created</th>
                    <th style="padding-left: 100px">Actions </th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="form : ${siteForms}">
                    <td th:utext="${form.htmlName}"></td>
                    <td th:utext="${form.displayName}"></td>
                    <td th:utext="${form.lastSubmission}"></td>
                    <td th:utext="${form.totalSubmissions}"></td>
                    <td th:utext="${form.created}"></td>
                    <td><a th:href="@{/form/__${form.id}__/submissions}" class="btn btn-xs btn-warning">View</a>
                        <span><a th:href="@{/form/__${form.id}__/delete}" class="btn btn-xs btn-danger"> Delete </a></span>
                    <span><a th:href="@{/notification/__${form.id}__/configure}"class="btn btn-xs btn-primary"> Configure notification</a></span>
                </tr>
                </tbody>
            </table>

            <br>

            <!-- pagination -->
            <nav aria-label="Pagination" th:if="${siteForms.totalPages > 1}">
                <ul class="pagination justify-content-center font-weight-medium">
                    <li class="page-item" th:classappend="${siteForms.number == 0} ? 'disabled'">
                        <a class="page-link svg-icon"
                           th:href="@{/user/forms?page={id}(id=${siteForms.getPageable().first()})}"
                           aria-label="First"
                           title="First Page" rel="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${siteForms.number == 0} ? 'disabled'">
                        <a class="page-link svg-icon"
                           th:href="@{/user/sites?page={id}(id=${siteForms.number < 2 ? 1 : siteForms.number})}"
                           aria-label="Previous"
                           title="Previous Page" rel="tooltip">
                            <span aria-hidden="true">&lsaquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i == siteForms.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence(
                        (siteForms.totalPages < 10 or siteForms.number < 5 ? 1 : (siteForms.number -4 < siteForms.totalPages - 10 ? siteForms.number - 4 : siteForms.totalPages - 10)),
                        (siteForms.number < 5 ? (siteForms.totalPages < 10 ? siteForms.totalPages : 10) : (siteForms.number + 6 < siteForms.totalPages ? siteForms.number + 6 : siteForms.totalPages)))}">
                        <a class="page-link" th:href="@{/user/forms?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}"
                           rel="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${siteForms.number + 1 == siteForms.totalPages} ? 'disabled'">
                        <a class="page-link svg-icon" th:href="@{/user/forms?page={id}(id=${userSites.number + 2})}"
                           aria-label="Next"
                           title="Next Page" rel="tooltip">
                            <span aria-hidden="true">&rsaquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${siteForms.number + 1 == siteForms.totalPages} ? 'disabled'">
                        <a class="page-link svg-icon" th:href="@{/user/forms?page={id}(id=${siteForms.totalPages})}"
                           aria-label="Last Page"
                           title="Last Page" rel="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>