<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <title>User Home Page</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h3>Welcome to FormINGo User Home page</h3>
    <br>
    <div class="container-fluid">
        <div class="col col-md-auto">
            <h5>User Details:</h5>
            <br>
            <div>
                <p>First name: <span th:text="*{user.firstName}"></span></p>
                <p>Last name: <span th:text="*{user.lastName}"></span></p>
                <p>Id: <span th:text="*{user.id}"></span></p>
                <p>UUID: <span th:text="*{user.uuidKey}"></span></p>
                <p>Created: <span th:text="*{user.created}"></span></p>
                <p>Updated: <span th:text="*{user.updated}"></span></p>
                <p>Email: <span th:text="*{user.email}"></span></p>
                <p>Role: <span th:text="*{user.role}"></span></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>