<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}" lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <title>Add or edit notification</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">

        <form role="form" id="saveNotificatonForm"
              th:object="${notification}" th:if="" th:method="post" th:action="@{/notification/__${formId}__/saveNotification}" >
            <br>
            <h3>
                <span th:text="${id == null} ? 'Add new ' : 'Edit '"></span><span>Notification</span>
            </h3>
            <br>
            <div class="form-text col-md-auto">
                <div th:if="${id != null}" class="form-group col-md-6">
                    <input th:field="*{id}" type="hidden">
                </div>

                <div class="form-group col-md-6">
                    <label for="notificationEmail">Email</label>
                    <input type="text" th:field="*{email}" placeholder="Enter Email adress" class="form-control"
                           id="notificationEmail" name="notificationEmail">
                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></label>

                </div>

                <div class="form-group col-md-6">
                    <label for="slackWebHook">Slack Webhook Url</label>
                    <input type="text" th:field="*{slackWebHook}" placeholder="Enter Slack Webhook Url" class="form-control"
                           id="slackWebHook" name="slackWebHook">
                    <label th:if="${#fields.hasErrors('slackWebHook')}"  th:errors="*{slackWebHook}" class="alert alert-danger"></label>
                </div>
                <br>
                <h4 th:text="${successMessage}" class="alert-success"></h4>
                <div>
                    <button class="btn btn-primary m-0" type="submit">
                        <span th:text="${id == null} ? 'Add new ' : 'Edit '"></span><span>Notification</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>