<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:pages="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}"
      lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <title>Notifications</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <br>
    <h2>Notifications</h2>
    <h5 class="total-notifications"
        th:utext="${'Form: &quot' + form.htmlName + '&quot - ' + form.displayName  + ', '
                + 'total notifications: ' + totalCount}"></h5>
    <div class="container-fluid">
        <div class="col col-md-offset-1">

            <table id="user-forms-table" class="table table-striped">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Slack Webhook</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="notification : ${notifications}">
                    <td th:utext="${notification.email}"></td>
                    <td th:utext="${notification.slackWebHook}"></td>
                    <td th:utext="${notification.created}"></td>
                    <td th:utext="${notification.updated}"></td>
                    <td><a th:href="@{/notification/notificationForm/__${notification.id}__}" class="btn btn-xs btn-warning">Edit</a>
                        <span><a th:href="@{notification/__${notification.id}__/delete}" class="btn btn-xs btn-danger"> Delete </a></span>
                </tr>
                </tbody>
            </table>
            <div class="container col-md-auto">
                <a class="btn btn-primary" th:href="@{/notification/__${form.id}__/notificationForm}">Add new Notification</a>
            </div>

            <br>

            <!-- pagination -->
            <nav aria-label="Pagination" th:if="${notifications.totalPages > 1}">
                <ul class="pagination justify-content-center font-weight-medium">
                    <li class="page-item" th:classappend="${notifications.number == 0} ? 'disabled'">
                        <a class="page-link svg-icon"
                           th:href="@{/user/notifications?page={id}(id=${notifications.getPageable().first()})}"
                           aria-label="First"
                           title="First Page" rel="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${notifications.number == 0} ? 'disabled'">
                        <a class="page-link svg-icon"
                           th:href="@{/user/notifications?page={id}(id=${notifications.number < 2 ? 1 : notifications.number})}"
                           aria-label="Previous"
                           title="Previous Page" rel="tooltip">
                            <span aria-hidden="true">&lsaquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i == notifications.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence(
                        (notifications.totalPages < 10 or notifications.number < 5 ? 1 : (notifications.number -4 < notifications.totalPages - 10 ? notifications.number - 4 : notifications.totalPages - 10)),
                        (notifications.number < 5 ? (notifications.totalPages < 10 ? notifications.totalPages : 10) : (notifications.number + 6 < notifications.totalPages ? notifications.number + 6 : notifications.totalPages)))}">
                        <a class="page-link" th:href="@{/user/notifications?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}"
                           rel="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${notifications.number + 1 == notifications.totalPages} ? 'disabled'">
                        <a class="page-link svg-icon" th:href="@{/user/notifications?page={id}(id=${notifications.number + 2})}"
                           aria-label="Next"
                           title="Next Page" rel="tooltip">
                            <span aria-hidden="true">&rsaquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${notifications.number + 1 == notifications.totalPages} ? 'disabled'">
                        <a class="page-link svg-icon" th:href="@{/user/notifications?page={id}(id=${notifications.totalPages})}"
                           aria-label="Last Page"
                           title="Last Page" rel="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>