<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <title>Registered Web Sites</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <br>
    <h2>Websites</h2>
    <!--/*@thymesVar id="user" type="java"*/-->
    <h5 class="total-sites-count"
        th:utext="${'User: &quot' + user.firstName + ' ' + user.lastName + '&quot' + ', '
                + 'ACTIVE websites - total count: ' + totalCount}"></h5>
    <div class="container-fluid">
        <div class="col col-md-offset-1">

            <table id="user-sites-table" class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Domain</th>
                    <th>UUID</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Submissions</th>
                    <th>Active</th>
                    <th style="padding-left:69px" >Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="site : ${userSites}">
                    <td th:utext="${site.domainName}"></td>
                    <td th:utext="${site.domain}"></td>
                    <td th:utext="${site.uuidKey}"></td>
                    <td th:utext="${site.prettyCreated}"></td>
                    <td th:utext="${site.prettyUpdated}"></td>
                    <td th:utext="${site.totalSubmissions}" class="text-center"></td>
                    <td th:utext="${site.isActive} ? 'yes' : 'no'" class="text-center"></td>
                    <td><a th:href="@{sites/__${site.id}__/forms}" class="btn btn-xs btn-warning">View</a>
                        <span><a th:href="@{websiteForm/__${site.id}__}" class="btn btn-xs btn-primary">Edit</a></span>
                        <span><a th:href="@{sites/__${site.id}__/delete}" class="btn btn-xs btn-danger">Delete</a></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="container col-md-auto">
                <a class="btn btn-primary" th:href="${'/user/websiteForm'}">Add new Website</a>
            </div>
            <br>

            <!-- pagination -->
            <nav aria-label="Pagination" th:if="${userSites.totalPages > 1}">
                <ul class="pagination justify-content-center font-weight-medium">
                    <li class="page-item" th:classappend="${userSites.number == 0} ? 'disabled'">
                        <a class="page-link svg-icon"
                           th:href="@{/user/sites?page={id}(id=${userSites.getPageable().first()})}"
                           aria-label="First"
                           title="First Page" rel="tooltip">
                            <span aria-hidden="true"><strong>|&laquo;</strong></span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${userSites.number == 0} ? 'disabled'">
                        <a class="page-link svg-icon"
                           th:href="@{/user/sites?page={id}(id=${userSites.number < 2 ? 1 : userSites.number})}"
                           aria-label="Previous"
                           title="Previous Page" rel="tooltip">
                            <span aria-hidden="true"><strong>&lsaquo;</strong></span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i == userSites.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence(
                        (userSites.totalPages < 10 or userSites.number < 5 ? 1 : (userSites.number -4 < userSites.totalPages - 10 ? userSites.number - 4 : userSites.totalPages - 10)),
                        (userSites.number < 5 ? (userSites.totalPages < 10 ? userSites.totalPages : 10) : (userSites.number + 6 < userSites.totalPages ? userSites.number + 6 : userSites.totalPages)))}">
                        <a class="page-link" th:href="@{/user/sites?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}"
                           rel="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${userSites.number + 1 == userSites.totalPages} ? 'disabled'">
                        <a class="page-link svg-icon" th:href="@{/user/sites?page={id}(id=${userSites.number + 2})}"
                           aria-label="Next"
                           title="Next Page" rel="tooltip">
                            <span aria-hidden="true"><strong>&rsaquo;</strong></span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${userSites.number + 1 == userSites.totalPages} ? 'disabled'">
                        <a class="page-link svg-icon" th:href="@{/user/sites?page={id}(id=${userSites.totalPages})}"
                           aria-label="Last Page"
                           title="Last Page" rel="tooltip">
                            <span aria-hidden="true"><strong>&raquo;|</strong></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>