<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <title>Registered FORMS</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <br>
    <h2>Submissions</h2>
    <h5 class="total-forms-count"
        th:utext="${'Form: &quot' + form.htmlName + '&quot - &quot' + form.displayName + '&quot' + ', '
                + 'Created: ' + form.created}"></h5>
    <div class="container-fluid">
        <div class="col col-md-offset-1">

            <div class="container col-md-auto">
                <a class="btn btn-primary" th:href="@{/notification/__${form.id}__/configure}">Configure notificatins</a>
            </div>

            <table id="form-submission-table" class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1"></label>
                        </div>
                    </th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Submitted on</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sub : ${submissions}">
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2"></label>
                        </div>
                    </td>
                    <td th:utext="${sub.email}"></td>
                    <td th:utext="${sub.name}"></td>
                    <td th:utext="${sub.prettyCreated}"></td>
                    <td><a th:href="@{/form/__${form.id}__/submissions}" class="btn btn-xs btn-warning">Details</a>
                        <span><a th:href="@{/form/__${form.id}__/submissions/__${sub.id}__/delete}" class="btn btn-xs btn-danger">Delete</a></span>
                </tr>
                </tbody>
            </table>

            <br>

            <!-- pagination -->
            <!--/*@thymesVar id="submissions" type="java"*/-->
            <nav aria-label="Pagination" th:if="${submissions.totalPages > 1}">
                <ul class="pagination justify-content-center font-weight-medium">
                    <li class="page-item" th:classappend="${submissions.number == 0} ? 'disabled'">
                        <!--/*@thymesVar id="form" type="java"*/-->
                        <a class="page-link svg-icon"
                           th:href="@{/form/__${form.id}__/submissions?page={id}(id=${submissions.getPageable().first()})}"
                           aria-label="First"
                           title="First Page" rel="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${submissions.number == 0} ? 'disabled'">
                        <a class="page-link svg-icon"
                           th:href="@{/form/__${form.id}__/submissions?page={id}(id=${submissions.number < 2 ? 1 : submissions.number})}"
                           aria-label="Previous"
                           title="Previous Page" rel="tooltip">
                            <span aria-hidden="true">&lsaquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i == submissions.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence(
                        (submissions.totalPages < 10 or submissions.number < 5 ? 1 : (submissions.number -4 < submissions.totalPages - 10 ? submissions.number - 4 : submissions.totalPages - 10)),
                        (submissions.number < 5 ? (submissions.totalPages < 10 ? submissions.totalPages : 10) : (submissions.number + 6 < submissions.totalPages ? submissions.number + 6 : submissions.totalPages)))}">
                        <a class="page-link" th:href="@{/form/__${form.id}__/submissions?page={id}(id=${i})}"
                           th:text="${i}"
                           th:title="${'Page '+ i}"
                           rel="tooltip"></a>
                    </li>
                    <li class="page-item"
                        th:classappend="${submissions.number + 1 == submissions.totalPages} ? 'disabled'">
                        <a class="page-link svg-icon"
                           th:href="@{/form/__${form.id}__/submissions?page={id}(id=${submissions.number + 2})}"
                           aria-label="Next"
                           title="Next Page" rel="tooltip">
                            <span aria-hidden="true">&rsaquo;</span>
                        </a>
                    </li>
                    <li class="page-item"
                        th:classappend="${submissions.number + 1 == submissions.totalPages} ? 'disabled'">
                        <a class="page-link svg-icon"
                           th:href="@{/form/__${form.id}__/submissions?page={id}(id=${submissions.totalPages})}"
                           aria-label="Last Page"
                           title="Last Page" rel="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>