<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}" lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <title>Register new Site</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">


        <!--/*@thymesVar id="website" type="java"*/-->
        <form role="form" id="saveWebsiteForm"
              th:object="${website}" th:method="post" th:action="@{/user/saveWebsite}" >
            <br>
            <h3>
                <span th:text="${id == null} ? 'Register new ' : 'Edit '"></span><span>Website</span>
            </h3>
            <br>
            <div class="form-text col-md-auto">
                <div th:if="${id != null}" class="form-group col-md-6">
                    <input th:field="*{id}" type="hidden">
                </div>
                <div class="form-group col-md-6">
                    <label for="domainName">Website Name</label>

                    <input type="text" th:field="*{domainName}"
                           placeholder="Enter Website Name" class="form-control"
                           id="domainName" name="domainName">
                    <label th:if="${#fields.hasErrors('domainName')}" th:errors="*{domainName}"
                       class="alert alert-danger"></label>

                </div>
                <div class="form-group col-md-6">
                    <label for="domain">Domain</label>
                    <input type="text" class="form-control" id="domain" placeholder="Enter domain"
                           name="domain" th:field="*{domain}">
                    <label th:if="${#fields.hasErrors('domain')}"  th:errors="*{domain}" class="alert alert-danger"></label>
                </div>
                <div class="form-group col-md-6">
                    <label th:text="${id == null} ? '' : 'Uuid: ' + ${website.uuidKey}"></label>
                </div>
                <br>

                <h4 th:text="${successMessage}" class="alert-success"></h4>

                <div>
                    <button class="btn btn-primary m-0" type="submit">
                        <span th:text="${id == null} ? 'Add new ' : 'Edit '"></span><span>Website</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>