<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<body>
<th:block th:fragment="common-footer">
    <footer>
        <div class="container">
            <p>&copy;formingo.com 2019
                <span sec:authorize="isAuthenticated()" style="display: inline-block;"> | Logged user:
                <span sec:authentication="name"></span> | <a href="/" th:href="@{/}"><strong>Logout</strong></a>
                </span>
            </p>
        </div>
    </footer>
</th:block>
</body>
</html>