<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">>
<head>
    <title>FormINGo App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
</head>
<body>
<div class="container">
    <div th:fragment="common-header">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="container-fluid">
                    <div class="row navbar-header">
                        <div id="formingo-meni" class="formingo-menu">
                            <ul class="nav navbar navbar-left d-flex d-inline-flex">
                                <li class="nav-item d-inline-flex  align-items-center mr-2">
                                    <a class="navbar-brand" th:href="@{/}">
                                        <img src="../../static/images/ing.png" width="80"
                                            th:src="@{/images/ing1.png}" alt="Ing Logo"/></a></li>
                                <li sec:authorize="isAuthenticated()" class="nav-item d-inline-flex align-items-center mr-2">
                                    <a class="nav-link d-inline-flex" href="#"
                                        th:href="@{/user/home}">User page</a></li>
                                <li sec:authorize="isAuthenticated()" class="nav-item d-inline-flex  align-items-center mr-2">
                                    <a class="nav-link d-inline-flex" href="#"
                                        th:href="@{/user/sites}">Websites</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>
</div>
</body>
</html>