<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <link rel=stylesheet href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
    <link href="../../static/css/common.css"
          th:href="@{/css/common.css}" rel="stylesheet" media="screen"/>

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Formingo</title>
</head>
<body>
<th:block th:replace="fragments/header :: common-header"/>
<div class="container-fluid">
    <th:block layout:fragment="content"/>
</div>
<th:block th:replace="fragments/footer :: common-footer"/>
</body>
</html>