html {
    position: relative;
    min-height: 100%;
}

/*Normalize html and body elements,this style is just good to have*/
html, body {
    margin: 0;
    padding: 0;
}

h4 {
    color: #ab0e0f;
}

footer {
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 5px;
}

header a {
    font-size: 24px;
}

.pageContentWrapper {
    margin-bottom: 100px; /* Height of footer*/
}

.footer {
    position: absolute;
    bottom: 0;
    left: 250px;
    right: 0;
    height: 30px;
    background: #ffffff;
}

.validation-message {
    font-style: normal;
    font-size: 14px;
    color: #3b55ff;
}

table {
    font-size: 14px;
}

.total-sites-count {
    color: #0c095d;
}

.total-sites-count-num {
    font-size: 24px;
    font-weight: bold;
}

.table td, .table th {
    padding: .10rem;
    horiz-align: center;
}

.pagination-ul {
    display: inline-block;
}

.active {
    font-weight: bold;
    font-size: 20px;
}