.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.reg{
	margin-top: 50px;
}

.form-signin {
    max-width: 620px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #e9e3ba;
    border: 2px solid #3e3e26;
    border-radius: 30px;
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.pageContentWrapper{
  margin-bottom:100px;/* Height of footer*/
}