<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}" lang="en">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="index-page text-center">
    <h1>FormINGo Index Page</h1>
    <h3>Velibor Mitic - Ingsoftware Java internship program</h3>
    <br>
    <div>
        <a class="btn btn-lg btn-warning"
           th:href="@{/user/sites}">Login</a>
    </div>
    <br>
    <div>
        <img src="/static/images/It_works.jpg"
             th:src="@{/images/It_works.jpg}" alt="IT works"/>
    </div>
</div>

</div>
</body>
</html>