<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/email.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Submission notification email</title>
</head>
<body>
<div class="container-fluid"></div>
<div class="text-center">
    <div class="mail-content">
        <h2 style="font-weight: bold"><strong>There has been a new form submission for <span
                th:text="${model.formHtmlName}"></span>
            on <span th:text="${model.websiteName}"></span></strong></h2>
        <p>Submitted from: <span style="font-weight: bold" th:text="${model.email}"></span></p>
        <p>Name: <span style="font-weight: bold" th:text="${model.name}"></span></p>
        <p>Message: <span style="font-weight: bold" th:text="${model.message}"></span></p>

        <br>
        <p>Submission time: <span th:text="${model.prettyCreated}"></span></p>
    </div>
</div>
</body>
</html>